<h2 class="ui center aligned icon header">
  <i class="circular brown comments icon"></i>
  Let's Chat!
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content chatbox-container">
        <div class="ui large feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Start typing...",autocomplete: 'off' %>
              <%= f.button '<i class="chat icon"></i>'.html_safe, class: "ui inverted brown button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="four wide column">
    <div class="ui vertical menu">
      <% User.all.each do |user| %>
        <% if user.online %>
          <a class="item">
            <%= user.username %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
